@using Constructor.Storage.Models;

@model List<CPU>;
    <body>
        <h2>ID сборки</h2>
        <h1>@ViewData["id"]</h1>
        <h3>раз</h3>
        @foreach (var tmp in Model)
        {
            <label>Id   </label>@tmp.Id
            <br />
            <label>Название   </label>@tmp.Name
            <br />
            <label>Ссылка   </label>@tmp.Img
            <br />
            <label>Количество   </label>@tmp.Name
            <br />
            <label>Цена   </label>@tmp.Cost
            <br />
            <label>Сокет   </label>@tmp.Socket
            <br />
            <label>Частота   </label>@tmp.Frequency
            <br />
            <label>ECC  </label>@tmp.ECC
            <br />
            <label>TDP </label>@tmp.TDP
            <br />
            @using (Html.BeginForm("EditAssembly", "CPU", FormMethod.Post))
            {

                <input type="hidden" name="CPUId" value="@tmp.Id">
                <input type="submit" value="Добавить в сборку">
            }
            <br /><br /><br />
        }
    </body>

