@using Constructor.Storage.Models;

@model CPU;
<body>
    <label>Id   </label>@Model.Id
    <br />
    <label>Название   </label>@Model.Name
    <br />
    <label>Ссылка   </label>@Model.Img
    <br />
    <label>Количество   </label>@Model.Name
    <br />
    <label>Цена   </label>@Model.Cost
    <br />
    <label>Сокет   </label>@Model.Socket
    <br />
    <label>Частота   </label>@Model.Frequency
    <br />
    <label>ECC  </label>@Model.ECC
    <br />
    <label>TDP </label>@Model.TDP
    <br /><br /><br />
    @using (Html.BeginForm("MainPage", "Main"))
    {
        <input type="submit" value="В главное меню">
    }
</body>