@using Constructor.Storage.Models;

@model RAM;
<body>
    <label>Id   </label>@Model.Id
    <br />
    <label>Название   </label>@Model.Name
    <br />
    <label>Ссылка   </label>@Model.Img
    <br />
    <label>Количество   </label>@Model.Name
    <br />
    <label>Цена   </label>@Model.Cost
    <br />
    <label>Объём   </label>@Model.MemorySize
    <br />
    <label>Тип   </label>@Model.MemoryType
    <br />
    <label>ЕСС   </label>@Model.ECC
    <br /><br /><br />
    @using (Html.BeginForm("MainPage", "Main"))
    {
        <input type="submit" value="В главное меню">
    }
</body>