@using Constructor.Storage.Models;

@model CpuFan;
<body>
    <label>Id   </label>@Model.Id
    <br />
    <label>Название   </label>@Model.Name
    <br />
    <label>Ссылка   </label>@Model.Img
    <br />
    <label>Количество   </label>@Model.Count
    <br />
    <label>Цена   </label>@Model.Cost
    <br />
    <label>Максимальное тепловыделение процессора  </label>@Model.TDP
    <br />
    <label>Поддерживаемые сокеты </label>@Model.Sockets
    <br />
    <br /><br /><br />
    @using (Html.BeginForm("MainPage", "Main"))
    {
        <input type="submit" value="В главное меню">
    }
</body>